@import '~react-pro-sidebar/dist/scss/styles.scss';
body {
  margin: 0;
  height: 100vh;
  color: #353535;
  font-family: sans-serif;
}

#root {
  height: 100%;
}

.app {
  width:100%;
  height: 100%;
  display: flex;
  position: relative;
}

.content-global-wrapper {
  //  margin-top: 70px;
 }
 .sidebarMain{
  display:flex;
  justify-content: space-between;
 }